<!DOCTYPE html>
<html lang="en">
<head>
<style>
.glyph-icon svc {
    width: 16px;
    height: 16px;
}
</style>
  <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('../partials/header'); %>
</header>

<main>
  <div class="jumbotron pt-5" style="width: 650px;">
    <form method="post" action="post_entry">
        <div class="form-group">
            <label for="blogentry" class="col-7">Article Entry</label>
            <textarea name="blogpost" class="form-control col-7" rows="10" id="blogentry"><%= existing %></textarea>
        </div>
        <div>          
          <button type="submit" class="btn btn-primary" style="margin-top:15px;">Save</button>
       </div>
 </main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>
